{% extends 'layout.html' %}
{% load stark %}
{% block css %}
    <style>
        .comb-search {
            padding: 5px 20px;
        }

        .comb-search .row .whole {
            width: 60px;
            float: left;

        }

        .comb-search .row .others {
            padding-left: 60px;
        }

        .comb-search .row a {
            display: inline-block;
            padding: 5px 8px;
            margin: 3px;
            border: 1px solid #d4d4d4;

        }

        .comb-search .row a {
            display: inline-block;
            padding: 5px 8px;
            margin: 3px;
            border: 1px solid #d4d4d4;
        }

        .comb-search a.active {
            color: #fff;
            background-color: #337ab7;
            border-color: #2e6da4;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="comb-search">
 <div class="row" style="padding-top: 5px">

                {% for row in c2.gen_list_filter_row %}
                    {% for obj in row %}
                        {{ obj|safe }}
                    {% endfor %}
                {% endfor %}

            </div>
<div>
</div>
     <div class="row" style="clear: both;padding-top: 2%">
    {% for k,v in srcs.1.items %}
  <div class="col-xs-6 col-md-3 panel">
    <a href="#" class="thumbnail">
      <img src=data:image/jpeg;base64,{{ v }}  alt="{{ k }}" >
    </a>
  </div>
    {% endfor %}
  </div>
     <table class="table table-hover table-bordered">
    <tr>
        {% for k,v in texts.items %}
            <td><a href="{{ v }}/">{{ k }}</a></td>
            {% if forloop.counter|divisibleby:3 %}
                <tr></tr>
            {% endif %}
        {% endfor %}
    </tr>
    </table>
    <div><nav aria-label="Page navigation">
                <ul class="pagination">
                    {{ page.page_html|safe }}
                </ul>
    </nav></div>
</div>
{% endblock %}